@charset "UTF-8";

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,code,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,footer,header,hgroup,menu,nav,section,main,audio,video {margin: 0; padding: 0; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0,0,0,.1)}

/*html5추가 시멘틱엘리먼트를 익스하위버전에서 블럭으로 인식되도록함*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main {display: block}

/* button태그에 손모양 커서 */
button {cursor: pointer}
/* 익스하위버전에서 이미지 선없애기 */
fieldset,img {border: 0; vertical-align: top}
/* 리스트 기호 빼기 */
ol,ul {list-style: none}
/* 태그 기본 기울임꼴 제거 */
address,em {font-style: normal}
/* 페이지안에서 가장 많은 링크색 지정 */
a {text-decoration: none; /*color: #1c1c1c*/}
/* iframe으로 외부컨텐츠를 연결했을때
외부컨텐츠안쪽내용이 우리페이지에 영향을 주지못하도록 가려줌
*/
iframe {overflow: hidden; border: 0}
/* 칸의 선을 합치기, 칸의 간격없애기, 가로를 늘려줌 */
/*
칸에 아주 긴 데이터가 들어올경우 col에 적은 width가 무시되어 칸이 늘어나면서 테이블길이가 커짐
table-layout: fixed;를 이용하여 커지지않게함
*/
table {border-collapse: collapse; border-spacing: 0; width: 100%; table-layout: fixed;}
/* 굵기 빼고 헤딩태그 폰트크기를 body에 선언한 크기와 일치시킴 */
h1,h2,h3,h4,h5,h6 {font-weight: normal; font-size: 100%}
/* 폼요소의 높이가 다를때 요소끼리 세로정렬시킴 */
input,select,textarea,button {vertical-align: middle; margin: 0; padding: 0; box-sizing: border-box;}
/* textarea 리사이즈기능 빼기 */
textarea {resize: none}
/* 페이지안의 모든 폰트의 줄간격을 1.5로 통일시킴
모바일 크롬, 모바일 사파리 브라우져의 텍스트 자동확대 방지
*/
body {line-height: 1.3; -webkit-text-size-adjust:none}

/* legend,caption,메뉴제목,섹션제목 블라인드 */
legend,caption,.blind {position: absolute; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; width: 1px; height: 1px}

body,button,input,select,textarea,table {
/*    헬베티카 폰트, 애플 산돌 네오고딕있을경우 해당폰트로 보여지고 없을경우 단말기 기본폰트로 보여짐*/
    font-family: 'Noto Sans KR','Helvetica Neue','Apple SD Gothic Neo',sans-serif;
    font-size: 16px;
    color:#000;
    word-break: keep-all;
    word-wrap: break-word;
    
}

a {color: #000;}
/************************* 공통스타일 ***************************/
/* ::selection {background: #b3d4fc;} */

/*********** 폼요소 공통 ************/
input[type="text"]::-ms-clear {
  display:none;
}

input[type="text"] {border: none;width: 100%; height: 100%}
.search_bar {border: 2px solid #000; overflow: hidden; position: relative;}
.search_bar .btn_search {
    background: url(../images/btn_search.png) no-repeat 100% 0;
    width: 25px;
    height: 25px;
    background-size: 100% auto;
    border: none;
    outline: none;
    text-indent: -99999px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

input[type="checkbox"] + label {
    cursor: pointer;
    position: relative;
    display: inline-block;
    line-height: 30px;
    padding-left: 40px;
    padding-bottom: 2px;
    letter-spacing: -0.05em;
}
input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width:26px;
    height: 26px;
    border: 2px solid #dddddd;
    border-radius: 100%;
}
input[type="checkbox"] + label em {color: #009223;}
input[type="checkbox"] + label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 5px;
    width:24px;
    height: 20px;
    background: url(../images/icon_checkbox.png) no-repeat;
    display: none;
}
input[type="checkbox"]:checked + label:after {display: block;}

/* ie x버튼 삭제 */
input::-ms-clear,input::-ms-reveal {display: none;}

/* 텍스트필드 공통 */
input[type="text"]:focus {
    border-color:#000000 !important;
    outline: none;
    background: #ededed;
}
textarea:focus {
    border-color:#414141 !important;
    outline: none;
}

/* select 공통 */
.select_wrap {display: inline-block; width:196px;    border: 2px solid #fff; margin-left: 7px; position: relative;}
.select_wrap2 {margin-left: 0}
.select_wrap select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    width:100%;
    height: 30px;
    border: none;
    padding-left: 15px;
    color: #999;
/*    제자리띄우기하여 :after 화살표위로 올려줌*/
    position: relative;
    z-index: 100;
    background: #000;
}
select::-ms-expand {display: none;}
.select_wrap:after {
    content: '';
    position: absolute;
    right: 13px;
    top: 50%;
    margin-top: -5px;
    width: 18px;
    height: 10px;
    background: url(../images/icon_select_arr.png) no-repeat;
    z-index: 999;
    background-size: cover;
}

/* textarea 공통 */
textarea {width:100%; font-size: 14px; border: 1px solid #f8f8f8; background: #f8f8f8; padding: 15px; box-sizing: border-box; margin: 12px 0;}

/* 파일선택폼 */
.file_wrap {
    border: 2px solid #dddddd;
    display: inline-block;
    width:368px;
    padding-right: 98px;
    position: relative;
}
.file_wrap:before {
    content: '';
    position: absolute;
    right:96px;
    top: 50%;
    margin-top: -8px;
    width:2px;
    height: 16px;
    background: #e8e8e8;
}
.file_wrap input {background: none !important; cursor:default; border: none !important;}
.file_wrap label {
    position: absolute;
    right: 0;
    top: 0;
    width:98px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    color:#009223;
}



/*스크롤*/

/* width */
.scroll_style::-webkit-scrollbar {
  width: 10px;
}
/* Track */
.scroll_style::-webkit-scrollbar-track {
  background: #04b48d;
    border: 2px solid #000;
}
/* Handle */
.scroll_style::-webkit-scrollbar-thumb {
  background: #000;
}
/* Handle on hover */
.scroll_style::-webkit-scrollbar-thumb:hover {
  background: #2e2e2e;
}


.scroll_style {
    scrollbar-3dLight-Color: #000;
    scrollbar-arrow-color: none;
    scrollbar-base-color: #000;
    scrollbar-Face-Color: #000;
    scrollbar-Track-Color: #04b48d;
    scrollbar-DarkShadow-Color: #000;
    scrollbar-Highlight-Color: #000;
    scrollbar-Shadow-Color: #000
}













/***************************** myl_lpoint.html 달력(jQuery UI datepicker) *****************************************/
/*#ui-datepicker-div {left: -200px !important; top: 30px !important;}

.ui-corner-all {border-radius:0;}
.ui-widget-content {border-color:#ccc;}
.ui-datepicker {padding:10px; width:260px;}
.ui-datepicker .ui-datepicker-header {padding:0; background:#fff; border:none;}
.ui-datepicker .ui-datepicker-title {line-height:2; font-size:17px; letter-spacing:-0.05em; font-weight:600;}*/

/*이전 달 버튼*/
/*.ui-datepicker .ui-datepicker-prev {left:53px; top:3px;}
.ui-datepicker .ui-datepicker-prev span {background:url(../images/arrow_prev_grey.png) no-repeat center center; width:6px; height:11px; margin-left:-3px; margin-top:-5px;}
.ui-datepicker .ui-datepicker-prev-hover {border:none; background:none; left:53px; cursor:pointer;}*/

/*다음 달 버튼*/
/*.ui-datepicker .ui-datepicker-next {right:53px; top:3px;}
.ui-datepicker .ui-datepicker-next span {background:url(../images/arrow_next_grey.png) no-repeat center center; width:6px; height:11px; margin-left:-3px; margin-top:-5px;}
.ui-datepicker .ui-datepicker-next-hover {border:none; background:none; right:53px; cursor:pointer;}*/

/*달력*/
/*.ui-datepicker table {font-size:12px; margin:0;}
.ui-datepicker th {padding:5px 10px;}
.ui-datepicker .ui-datepicker-week-end {color:#ff4d3c;}
.ui-datepicker .ui-datepicker-week-end a {color:#ff4d3c;}
.ui-datepicker .ui-datepicker-week-end:last-child {color:#009bfa;}
.ui-datepicker .ui-datepicker-week-end:last-child a {color:#009bfa;}
.ui-datepicker .ui-datepicker-week-end:last-child a:hover {color:#fff;}
.ui-datepicker td span, .ui-datepicker td a {text-align:center; text-decoration:none;}
.ui-datepicker td a {width:19px; height:20px; margin:0 auto; border:2px solid #fff; border-radius:100%; line-height:20px; padding:1px; color:#555;}
.ui-datepicker td a:hover, .ui-state-highlight, .ui-datepicker .ui-state-active, .ui-datepicker .ui-datepicker-today .ui-state-active {border-color:#009bfa!important; background:#009bfa!important; color:#fff;}
.ui-datepicker-current-day .ui-state-active {border-color:#84ccef!important; background:#84ccef!important; color:#fff;}
.ui-datepicker .ui-datepicker-week-end.ui-datepicker-unselectable span {color:#ffd4d1;}
.ui-datepicker .ui-datepicker-week-end:last-child.ui-datepicker-unselectable span {color:#cde6fd;}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {opacity:1;}
.ui-datepicker .ui-datepicker-unselectable span {color:#ccc;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {border:2px solid #fff; background:none;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {background:#009bfa; color:#fff;}*/

body.active {overflow: hidden;}

#wrap {min-width: 360px;}


/***********     H E A D E R  ***************/


#header {
    max-width: 1215px;
    min-width: 360px;
/*    height: 102px;*/
    border: 2px solid #000;
    background: #fff;
    padding: 0 20px;
    position: fixed;
    left: 50%;
    top: 15px;
    transform: translateX(-50%);
    width: 100%;
    z-index: 9999;
}


#header .background_header {
    width: calc(100% - 8px);
    height: 10px;
    border: 2px solid #000;
    background: #ffffff;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s
}
#header .background_header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 6px;
    background: rgba(0, 0, 0, 0.05);
}

#header .background_header:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 6px);
    height: 6px;
    background: #dddddd;
    border: 2px solid #000;
}


#header .logo {float: left; margin: 17px 0 0 0;}
#header .logo img {height: 60px;}


#header .btn_global_search {display: none}

#header .btn_allMenu {display: none;}
/*   TOP _ HEADER    */

#header .pc_gnb .top_header {float: right; line-height: 40px;}



#header .pc_gnb .top_header .family_site {float: left; margin-left: 10px}
#header .pc_gnb .top_header .family_site>li {float: left; margin-left: 10px}
#header .pc_gnb .top_header .family_site>li:hover a {background: rgba(0, 0, 0, 1);}
#header .pc_gnb .top_header .family_site>li>a {display: inline-block; background: rgba(0, 0, 0, 0.9); color: #fff; border-radius: 26px; line-height: 26px; padding: 0 10px;font-size: 14px;}



#header .pc_gnb .top_header .util {float: left; margin-left: 10px;}
#header .pc_gnb .top_header .util>li {float: left; margin-left: 20px; position: relative;}
#header .pc_gnb .top_header .util>li>a {display: block; font-size: 14px}


#header .pc_gnb .top_header .util>li:nth-child(2):before {content: ''; width: 1px; height: 15px; background: #989898; position: absolute; left: -10px; top: 14px;}



#header .pc_gnb .top_header .search_wrap {float: left; margin-left: 20px; position: relative;}


#header .pc_gnb .top_header .search_bar {height: 30px; width: 18px; margin: 5px 0 0 20px; width: 180px; float: right}

#header .pc_gnb .top_header .search_bar input[type="text"] {font-size: 14px; padding: 0 35px 0 8px; margin-bottom: 20px}

#header .pc_gnb .top_header .search_bar .btn_search {width: 20px; height: 20px}

/*   PC BOTTOM _ HEADER    */

#header .pc_gnb .bottom_header { float: right; width: calc(100% - 200px); border-top: 2px dashed #000; }


#header .pc_gnb .bottom_header .gnb {float: right;}

#header .pc_gnb .bottom_header .gnb>li {float: left;}
/*#header .bottom_header .gnb > li:first-child a {padding-left: 0;}*/

#header .pc_gnb .bottom_header .gnb>li>a {font-size: 22px;line-height: 58px;display: block;width: 100%;padding: 0 25px; transition: all 0.2s; font-weight: 700;}
#header .pc_gnb .bottom_header .gnb>li:hover>a {color: #04b48d}








/*
#header .bottom_header .gnb>li.on .depth2 {
    display: block; 
}
*/



#header .pc_gnb .bottom_header .gnb .depth2 {
    position: absolute;
    top: 98px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 6px);
    overflow: hidden;
    display: none;
}

/*
#header .bottom_header .gnb .depth2.on {
    height: 100%;
}
*/

/*#header .bottom_header .gnb .depth2:after {content: ''; position: absolute; top: 50%; transform: translateY(-50%); left: 160px; width: 2px; height: 80%; background: #000;}*/

/*
#header .bottom_header .gnb .depth2_wrap:before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 8px; background: rgba(0, 0, 0, 0.1);}

#header .bottom_header .gnb .depth2_wrap:after {content: ''; position: absolute; bottom: -8px; left: 50%; transform: translateX(-50%); width: calc(100% - 15px); height: 6px; background: #ccc; border: 2px solid #000;}
*/










#header .pc_gnb .bottom_header .depth2 .depth2_tit {font-size: 36px;font-weight: 700;color: #04b48d;float: left;padding-right: 2.6%;padding-left: 2.6%; margin-top: 30px; min-height: 180px; text-align: center}

#header .pc_gnb .bottom_header .depth2>ul>li {
    float: left;
    width: calc(100%/4 - 34.1px);
    padding-right: 2.6%;
    padding-left: 2.6%;
    margin: 35px 0;
}
#header .pc_gnb .bottom_header .depth2>ul>li>a {display: block; font-size: 18px; font-weight: 700; border-bottom: 2px solid #000; padding-left: 5px; line-height: 26px}
#header .pc_gnb .bottom_header .depth2>ul>li:hover>a {color: #04b48d}




#header .pc_gnb .bottom_header .gnb .depth3>li {margin: 10px;}
#header .pc_gnb .bottom_header .gnb .depth3>li>a {display: block; word-break: keep-all; color: #4d4d4d}

#header .pc_gnb .bottom_header .gnb .depth3>li:hover>a {color: #000}





#header .m_gnb {display: none;}

#header .global_search_wrap {display: none;}






/**********        M A I N          *********/

#main {padding: 130px 0 50px}
#main .main_wrap {padding: 0 10px 10px ; max-width: 1200px; margin: 0 auto}


#main .main_visual {position: relative;}

#main .btn_tab { position: absolute;top: 52px;right: -34px;z-index: 9;}
#main .btn_tab li { height: 105px;}
#main .btn_tab li:first-child a {padding-top: 25px}
#main .btn_tab li a {
    display: block;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 8px 0;
    height: 100%;
    vertical-align: middle;
    line-height: 24px;}





#main .main_slider {
    max-width: 1180px;
    width: 100%;
    height: 0px;
/*    margin-bottom: 30px;*/
    padding-right: 32px;
    box-sizing: content-box;
    border-left: 2px solid #000;
    border-right: none;
    overflow: hidden;
}

#main .main_slider.active {height: 600px; }



#main .main_slider:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 36px;
    height: 636px;
    background: url(../images/main_right1.png) no-repeat 50% 50%;
    z-index: 99;}

#main .main_slider:nth-child(2):after {
background-image: url(../images/main_right2.png);}
#main .main_slider:last-child:after {
background-image: url(../images/main_right3.png);}
#main .main_slider a{ display: block;}
#main .main_slider img {
    height: 100%;
    position: absolute;
    right: -30px;
    bottom: 0;
    transition: all 0.3s;
    border-bottom: 2px solid #000;
    box-sizing: content-box;
}




#main .main_slider .main_txt { position: absolute; left: 10%; top: 50%;transform: translateY(-50%); width: 50%; transition: all 0.3s; max-width: 530px;}


#main .main_slider .main_txt h2 {font-size: 60px; line-height: 1em; width: 105%; font-family: 'Do Hyeon';}

#main .main_slider .main_txt .thin {font-size: 18px; margin: 10px 0 30px; color: rgba(0, 0, 0, 0.8)}

#main .main_slider .main_txt .thin strong {margin-left: 25px; position: relative;}
#main .main_slider .main_txt .thin strong:first-child {margin-left: 0;}
#main .main_slider .main_txt .thin strong:first-child:before {content: none;}
#main .main_slider .main_txt .thin strong:before {content: ''; position: absolute; top: 8px; left: -13px; width: 2px; height: 14px; background: rgba(0, 0, 0, 0.5);}

#main .main_slider .main_txt .book_tit {font-size: 18px; padding-left: 10px; font-weight: 500; line-height: 1.8em;}
#main .main_slider .main_txt .book_tit .strong {font-size: 24px; font-weight: 700; }
#main .main_slider .main_txt .book_tit p {text-align: right}




#main .main_slider .swiper-pagination-bullets {bottom: 20px}
#main .main_slider .swiper-pagination-bullet {width:14px; height: 14px; border: 2px solid #000; opacity: 1; background: #fff;}

#main .main_slider .swiper-pagination-bullet-active {background: #04b48d}









#main .section1 {overflow: hidden; margin-top: 30px;}

#main .section1 .sec1_common {width: calc(50% - 10px); border: 2px solid #000; height: 260px; position: relative;}

#main .section1 .tit {margin: 30px 0 0 30px; float: left;}
#main .section1 .tit br {display: none;}
#main .section1 a {display: block;}

#main .section1 .section1_left {float: left;}
#main .section1 .section1_right {float: right}
#main .section1 .section1_right h3 p {display: none}


#main .section1 .sec1_common img {height: 220px; position: absolute; right: 30px; bottom: 50%; transform: translateY(50%)}

#main .section1 .sec1_common .category {font-size: 14px; border: 2px solid #000; border-radius: 20px; padding: 3px 8px}

#main .section1 .sec1_common .tit h3 {font-size: 36px; font-weight: 700; margin: 20px 0; z-index: 99; position: relative;}
#main .section1 .sec1_common h3>img {max-height: 110px;position:static; transform: none;}


#main .main_banner {width: 100%; background: #04b48d; border: 2px solid #000; text-align: center; float: left; position: relative; box-shadow: 0px 12px 0px -6px rgba(0,0,0,1); margin-top: 28px; overflow: hidden; padding: 20px}

#main .main_banner:hover {margin-top: 33px; box-shadow: 0px 4px 0px -6px rgba(0,0,0,1)}

#main .main_banner h3:before {content: '';display: inline-block;background: url(../images/book_icon.png) no-repeat 40% 0; background-size: cover;width: 100px;height: 87px;margin: 0 30px -50px -80px;}

#main .main_banner a {display: block; height: 100%}

#main .main_banner h3 {font-size: 36px;font-weight: 700;margin-right: -80px;}



#main .main_banner p {font-size: 24px; margin: 5px -130px 0 0;}
#main .main_banner p:after {content: '';background: url(../images/arrow2.png) no-repeat 50% 0; display: inline-block; width: 26px; height: 20px; background-size: cover; margin-left: 20px}




/********** sectioin2 ****************/

#main .section2 {width: 100%; overflow: hidden;margin-top: 190px; border: 2px solid #000;}

#main .section2 h2 {display: none;}

#main .section2 .top_section2 {height: 450px;width: 100%; background: url(../images/section3.jpg) no-repeat 50% 50%; background-size: cover;  border-bottom: none; position: relative;}

#main .section2 .section2_tit {width: 70%; border: 2px solid #000; background: #fff; text-align: center; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); padding: 20px}

#main .section2 .section2_tit img {width: 100%; max-width: 405px;}
#main .section2 .section2_tit p {margin-top: 18px; line-height: 23px}

#main .section2 .bottom_section2{border-top: 2px dashed #000; overflow: hidden;}

#main .section2 .bottom_section2 li {width: 33.33%; border-left: 2px dashed #000; float: left; overflow: hidden; padding: 20px 10px;}

#main .section2 .bottom_section2 li:first-child {border-left: none; padding: 20px 11px;}
#main .section2 .bottom_section2 li:last-child {padding: 20px 35.5px}

#main .section2 .bottom_section2 li a {display: block;line-height: 40px;text-align: center; font-size: 24px; font-weight: 700;  transition: all 0.3s}

#main .section2 .bottom_section2 li a:after {content: ''; display: inline-block; background: url(../images/arrow2.png) no-repeat 50% 0; background-size: cover; width: 26px; height: 20px; margin-left: 20px; transform: scale(1);}

#main .section2 .bottom_section2 li:hover a,
#main .section2 .bottom_section2 li:hover a:after { transform: scale(1.1)}


#main .section2 .bottom_section2 li .highlight {color: #04b48d}

#main .section2 .bottom_section2 li br {display: none;}




/**************     section3    **********/



#main .section3 {width: 100%; height: 560px; margin-top: 30px; overflow: hidden;}

#main .section3 .section3_inner {height: 100%; width: 100%; overflow: hidden;}

#main .section3 .section3_inner>li {width: 33.33%; height: 100%; float: left; border: 2px solid #000; border-right: none; padding: 20px 20px 30px; background: #04b48d;}

#main .section3 .section3_inner>li:last-child {border-right: 2px solid #000; padding: 0;}

#main .section3 .section3_inner h3 {font-size: 36px; font-weight: 700; margin-bottom: 30px}

/*#main .section3 .section3_inner .sns_wrap {overflow: hidden;}*/

#main .section3 .sec3_news {position: relative; }
#main .section3 .sec3_news .news_wrap {
    height: 430px;
    width: 100%;
/*
    position: absolute;
    left: 30px;
    bottom: 30px;
*/
    overflow: auto;
    padding-right: 10px
}

#main .section3 .sec3_news .news_wrap .highlight {color: #fff; margin-right: 7px}
#main .section3 .sec3_news .news_wrap li {margin-bottom: 18px}
#main .section3 .sec3_news .news_wrap li a {word-break: break-all;}
#main .section3 .sec3_news .news_wrap li:hover a {text-decoration: underline;}




#main .section3 .sec3_alarm {position: relative;}
#main .section3 .sec3_alarm .btn_sns {width: 85%; height: 60px; background: #fff; border: 2px solid #000;font-weight: 700; font-size: 24px; box-shadow: 0px 12px 0px -6px rgba(0,0,0,1); display: block; margin: 30px auto; }

#main .section3 .sec3_alarm .btn_sns:hover {margin: 35px auto  25px; box-shadow: 0px 4px 0px -6px rgba(0,0,0,1)}

#main .section3 .sec3_alarm span {margin-left: 10px; float: left; margin-bottom: 40px}
#main .section3 .sec3_alarm span:before {content: ''; float: left; background: url(../images/check_icon.png) no-repeat 50% 0; width: 35px; height: 35px; background-size: cover; margin-right: 20px; margin-top: 10px;}





#main .section3 .sec3_alarm>ul>li {line-height: 60px; width: 100%;}
#main .section3 .sec3_alarm>ul>li:nth-child(2) {border-top: 2px solid #000; border-bottom: 2px solid #000;}
#main .section3 .sec3_alarm>ul>li>a {font-weight: 700; font-size: 18px; }
#main .section3 .sec3_alarm>ul>li:hover>a {color: #fff;}


#main .section3 .sec3_sns>ul {height: 100%; overflow: hidden}
#main .section3 .sec3_sns>ul>li {height: 33.33%; border-bottom: 2px solid #000; padding: 20px}
#main .section3 .sec3_sns>ul>li:last-child {border-bottom: none;}

#main .section3 .sec3_sns h3 {margin-bottom: 10px;}

#main .section3 .sec3_sns .sns_wrap {border: 1pxs solid red;}

#main .section3 .sec3_sns .sns_wrap>li { display: inline-block; margin-left: 20px;}
#main .section3 .sec3_sns .sns_wrap>li:first-child {margin-left: 0;}

#main .section3 .sec3_sns .sns_wrap>li>a {width: 38px; height: 38px; background: url(../images/sns_face.png) no-repeat 50% 50%; background-size: 106%; opacity: 0.65; display: block;}
#main .section3 .sec3_sns .sns_wrap>li>a:hover {opacity: 1;}



#main .section3 .sec3_sns .sns_wrap .naver {background-image: url(../images/sns_naver_03.png);background-size: 97%;}
#main .section3 .sec3_sns .sns_wrap .post {background-image: url(../images/sns_post.png);}
#main .section3 .sec3_sns .sns_wrap .insta {background-image: url(../images/sns_insta.png);}
#main .section3 .sec3_sns .sns_wrap .post {background-image: url(../images/sns_post.png); background-size: auto 38px}
#main .section3 .sec3_sns .sns_wrap .twitter {background-image: url(../images/sns_twitter.png);}

#main .section3 .sec3_sns>ul>li>a:nth-child(2) {margin-left: 0;}










/***********     F O O T E R     ***************/

#footer {width: 100%; background: #000; color: #959595;}

#footer .footer_wrap {max-width: 1200px; width: 100%; margin: 0 auto; overflow: hidden; padding: 30px 20px 40px;}

#footer .footer_wrap .top_footer {overflow: hidden; float: left;}
#footer .footer_wrap .top_footer li { float: left; margin: 0 40px 20px 0; position: relative;}
#footer .footer_wrap .top_footer li:before {content: ''; background: #959595; width: 1px; height: 12px; position: absolute; top: 4px; left: -20px;}
#footer .footer_wrap .top_footer a {color: #959595; font-weight: 700;}
#footer .footer_wrap .top_footer li:first-child:before {content: none;}

#footer .footer_wrap p {float: left; font-size: 14px; line-height: 28px; max-width: 880px; width: 75%}
#footer .footer_wrap p br {display: none;}


#footer .footer_wrap .family_wrap {float: right; margin-top: -40px;}











@media screen and (max-width:1270px) {
        
    #main .main_slider {padding-right: 0; border-right: 2px solid #000; box-sizing: border-box;}
    #main .main_slider:after {content: none;}
    
    #main .main_slider.active {height: 630px; border-bottom: 2px solid #000;}
    #main .main_slider img {padding-left: 0; left: auto; right: -90px; border-bottom: none;}
    
    
    
    
    #main .btn_tab {
        right: -5px;
        top: 11px;
        background: url(../images/bookmark_03.png) no-repeat 0 20%;
        background-size: 300px 38px;
        width: 290px;
        height: 38px;
        padding-left: 20px;
        text-align: center;
        border-right: 2px solid #000;}
    
    #main .btn_tab br {display: none;}
    
    #main .btn_tab li { float: left; width: 33.33%; height: auto;}
    #main .btn_tab li a {padding: 0;line-height: 38px}
    #main .btn_tab li.active a{color: #04b48d}
    #main .btn_tab li:first-child a {padding: 0;}
    
    
    
    
    
}





@media screen and (max-width:1190px) { 
    #header .pc_gnb .bottom_header .gnb>li>a {padding: 0 20px;}
    #main .main_slider .main_txt { left: 5%}
    
    
    
}









@media screen and (max-width:1042px) {
    #main .section3 .sec3_sns h3 {word-break: break-all;}
    
}








/********** 타블렛 분기점 *********/
@media screen and (max-width:1024px) { 
    
    #main {padding: 70px 0 30px;}
    
    #header {top: 0; padding: 0 20px; transform: none; left: 0; height: 70px}
    
    
    #header .background_header {display: none}
    
    #header .top_header {display: none}
    
    #header .bottom_header {
    display: none;
        /*
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 160px);
    float: none;
*/
    }

  
    
    #header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0;
    float: none;
    background: #fff;
    z-index: 9;
    }
    
    #header .logo img {height: 40px;}
    
    
    
    
    #header .btn_allMenu {float: right;width: 38px;height: 38px;border: none;outline: none;position: relative;top: 14px;background: none; display: block;}
    #header .btn_allMenu span {width: 32px;height: 3px;background: #000;position: absolute;left: 3px;top: 7px; transition: all 0.3s}
    #header .btn_allMenu span:nth-child(2) {top: 18px;}
    #header .btn_allMenu span:nth-child(3) {top: auto; bottom: 7px}

    

    
    
    #header .btn_global_search {
    float: left;
    width: 38px;
    height: 38px;
    border: none;
    outline: none;
    margin-top: 14px;
    background: url(../images/btn_search.png) no-repeat 50% 50%;
    background-size: 30px auto;
    display: block;
    text-indent: -99999999px;
}
    
    #header .global_search_wrap {background: #fff; border: 2px solid #000; width: 80%; height: 100%; min-width: 280px; position: fixed; top: 0;left: 0; z-index: 99999; padding: 20px; transform: translateX(-101%); display: block; transition: all 0.5s}
    
    #header .global_search_wrap.active {transform: translate(0)}
    
    #header .global_search_wrap h2 {float: left; font-size: 27px}
    
    #header .global_search_wrap .btn_close { margin: 0}
    
    #header .global_search {margin-top: 70px; overflow: hidden;}
    
    
    
/*            검색창              */
    
    #header .input_global_search {width: 100%; height: 40px; float: left; padding:10px}
    
    
    #header .global_search_wrap .keywords {
        margin-top: 50px
    }
    
    #header .global_search_wrap .keywords h4 {margin-bottom: 10px; font-weight: 500}
    
    #header .global_search_wrap .keywords li{ margin: 5px}
    #header .global_search_wrap .keywords li a {display: block; color: #5c5c5c; line-height: 30px}
    #header .dimm {width: 100%; height: 100%; background: #000; opacity: 0.6; position: fixed; top: 0; left: 0; z-index: 999; display: none;}
    
    #header .global_search .detailed_search {position: relative; font-size: 18px; margin-top: 20px; display: inline-block; color: #04b48d; line-height: 40px}
    
    #header .global_search .detailed_search:after {
    content: '';
    display: inline-block;
    background: url(../images/arrow2.png) no-repeat 50% 0;
    background-size: cover;
    width: 15px;
    height: 12px;
    margin-left: 10px;
    }
    
    
    
    #header .global_search .search_bar .btn_search {display: block;}
    #header .global_search .search_bar input[type="text"] {padding: 10px 45px 10px 10px}
    
    
    #header .m_gnb {
        display: block;
        position: fixed;
        right: 0;
        top: 0;
        width: 60%;
        min-width: 160px;
        transform: translateX(101%);
        transition: all 0.5s;
        z-index: 999999;
        height: 100%;
    }
    
    #header.active .m_gnb {transform: translateX(0%);}
    
    
/*
    #header .m_gnb .m_gnb_back {
    width: 100%;
    height: 100%;
    background: #ededed;
    position: absolute;
    top: 6px;
    left: -6px;
    border: 2px solid #000;
    z-index: -999;
    transform: translateX(0);
        transition: all 0.5s;
}
    #header .m_gnb .m_gnb_back.active {transform: translateX(-97%)}
*/
    
    
    
    #header .m_gnb .top_m_gnb {background: #fff;z-index: 9999; border: 2px solid #000; border-bottom: none; overflow: hidden; height: 108px}
    
    #header .btn_close {width: 38px;height: 38px; outline: none; background: none; float: right; position: relative; margin: 10px 10px 0 0; border: none;}
    
    #header .btn_close span {width: 32px;height: 3px; background: #000; display: block; transform: rotate(-45deg); position: absolute; left: 2px; top: 16px}
    
    #header .btn_close span:last-child {margin-top: 18px; transform: rotate(45deg); position: absolute; left: 2px; top: -1px}
    
    
    #header .m_gnb .top_m_gnb .util {width: 156px; background: #fff; position: absolute; top: 70px; right: 22px; transition: all 0.4s}
    #header .m_gnb .top_m_gnb .util li {float: left; position: relative; width: 50%}
    
    
    #header .m_gnb .top_m_gnb .util li:last-child:before {content: '';
    width: 1px;
    height: 15px;
    background: #989898;
    position: absolute;
    left: 0;
    top: 12px;}
    
    #header .m_gnb .top_m_gnb .util li a {display: block; text-align: center; line-height: 35px}
    
    #header .m_gnb .bottom_m_gnb {
    background: #fff;
    height: calc(100% - 108px);
    border: 2px solid #000;
    border-top: none;
    overflow: auto;
    width: 100%;
}
    
    #header .m_gnb .bottom_m_gnb_inner {padding: 10px 30px; }
    
    #header .m_gnb .bottom_m_gnb {float: left;}
    
    
    #header .m_gnb .bottom_m_gnb_inner>li {
    margin: 5px 0;
    text-align: right;
    }
    
    
    #header .m_gnb .bottom_m_gnb_inner>li:hover {border-bottom: 2px dashed #000;     height: 50px}
    
    #header .m_gnb .bottom_m_gnb_inner>li:hover>a {line-height: 51px}
    
    #header .m_gnb .bottom_m_gnb_inner>li>a {font-size: 24px; line-height: 50px; display: block;} 
    
    
    
    
    
/*************    depth2        *****************/
    
    #header .m_gnb .bottom_m_gnb_inner .depth2 {
        position: absolute;
        top: 0;
        left: 1px;
        background: #f0f0f0;
        width: 115%;
        border: 2px solid #000;
        transition: all 0.5s;
        height:  calc(100% - 10px);
        overflow: auto;
        z-index: -99;
        transform: translate(0, 3px)
    }

    #header.active .m_gnb .bottom_m_gnb_inner .depth2.active {transform:translate(-99%, 6px); }

    #header .m_gnb .bottom_m_gnb_inner .depth2:before{
    content: ''; 
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.05);
    width: 6px;
    height: 100%
}
    
    #header .m_gnb .bottom_m_gnb_inner .depth2_inner {
    padding: 85px 30px 30px; position: relative;
    }

    
    
    #header .m_gnb .bottom_m_gnb_inner .depth2_inner>li>a {line-height: 40px; border-bottom: 2px dashed #bababa; width: 100%; display: block; font-size: 18px; font-weight: 500;color: #434343;}


    
    #header .m_gnb .bottom_m_gnb_inner .depth3 {margin: 5px 10px 20px}
    
    #header .m_gnb .bottom_m_gnb_inner .depth3>li>a {line-height: 4px; display: block; line-height: 36px; color: #5c5c5c;}
    
    #header .m_gnb .bottom_m_gnb_inner .depth3>li>a:hover {color: #000}
    
    #main .main_slider a {height: 100%}
    
    
    #main .main_slider img {right: -140px}
    
    
    
    
    
    
    
    
    
    
    
    #main .section1 .sec1_common {width: calc(50% - 5px);}

    #main .section1 .sec1_common h3>img {height: 90px}
    
    
    
    
    
    #main .section3 {height: auto;}
    #main .section3 .section3_inner>li:first-child,
    #main .section3 .section3_inner>li:nth-child(2) {width: 50%; height: 520px;}
    
    #main .section3 .section3_inner>li:nth-child(2) {border-right: 2px solid #000; padding-bottom: 20px}
    
    
    
    
    #main .section3 .section3_inner>li:last-child {width: 100%; margin-top: 30px}
    
    #main .section3 .sec3_news .news_wrap {height: 400px;}
    
    #main .section3 .sec3_alarm span {margin-bottom: 10px}
    
    
    
    #main .section3 .sec3_sns>ul>li { float: left;}
    
    #main .section3 .sec3_sns h3 {float: left; margin-bottom: 0;}
    #main .section3 .section3_inner .sns_wrap {text-align: center; float: right;}
    
    
    #main .section3 .sec3_sns>ul>li:first-child {width: 100%; border-bottom: 2px solid #000;}
    #main .section3 .sec3_sns>ul>li:nth-child(2),
    #main .section3 .sec3_sns>ul>li:last-child {width: 50%;}
    
    #main .section3 .sec3_sns>ul>li:nth-child(2) {border-bottom: none; border-right: 2px solid #000;}
    
    
    
    
    
    #footer .footer_wrap .top_footer {float: none;}
    #footer .footer_wrap p {float: none; width: 100%}
    
    
    #footer .footer_wrap .family_wrap {float: none; margin-top: 30px}
    
    
    
    
    
    
    
}

























@media screen and (max-width:915px) {
    #main .section1 .sec1_common img {
        height: 180px;
            right: 10px;
    }
    #main .section1 .tit{margin: 25px 0 0 25px;}


}


@media screen and (max-width:848px) {
    #main .section3 .sec3_sns h3 {width: 100%; font-size: 32px}
    #main .section3 .sec3_sns h3 br {display: none;}
    
    #main .section3 .section3_inner .sns_wrap {float: left; margin-top: 20px}
    
    
}




































/* 모바일 분기점 */
@media screen and (max-width:767px) {
    
    
    
    body, button, input, select, textarea, table {font-size: 14px}
    
    
    #header .m_gnb .bottom_m_gnb_inner .depth2_inner {padding: 70px 20px 20px}
    
    
    
    #main .main_slider {height: 0}
    #main .main_slider.active {height: 550px}
    #main .main_slider img {width: 100%; height: auto; right: 50%;top: -20px; bottom: auto; transform: translateX(50%)}
    
    
    
    
    
    
    
    
    
    
    #main .btn_tab {width: 260px; padding-left: 20px}
    
    
    
    
    #main .main_slider .main_txt h2 {font-size: 30px; width: 100%;}
    #main .main_slider .main_txt {top: auto; bottom: 40px; transform: none;background: rgba(255, 255, 255, 0.6);
    width: calc(100%);
    left: 0;
    padding: 20px 20px 40px;
    bottom: 0;
    max-width: 100%;
    }
    
    #main .main_slider .main_txt .thin {font-size: 13px; margin-bottom: 20px; display: none;}
    #main .main_slider .main_txt .book_tit {font-size: 14px; padding-left: 0; line-height: 1.3em; font-weight: 400;}
    #main .main_slider .main_txt br {display: none;}
    
    #main .main_slider .main_txt .book_tit .strong {display: none;}
    
    
/*        section1          */
    
    #main .section1 {margin-top: 20px}
    
    #main .section1 .sec1_common {width: 100%; padding: 20px; height: 200px;}
/*    #main .section1 .tit {margin: 20px} */
    #main .section1 .section1_left {margin-bottom: 20px;}
    
    #main .section1 .sec1_common .tit {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
}
    #main .section1 .sec1_common .tit h3 {margin: 10px auto;}
    #main .section1 .section1_left .tit h3 {margin: 30px auto }
    
    
    #main .section1 .sec1_common .tit p {margin-left:  0;}
    
    #main .section1 .sec1_common img {height: 160px;}
    
    
    
    
    #main .main_banner {margin-top: 20px;}
    
    #main .main_banner h3 {font-size: 27px;}
    #main .main_banner h3:before { width: 80px;height: 69px; margin-bottom: -40px}
    #main .main_banner p {font-size: 16px; margin-right: -100px;}
    
    
    
    
    
    #main .section2 {margin-top: 155px;}
    
    
    
    
    
    #main .section3 {margin-top: 20px}
    #main .section3 .section3_inner>li {}
    #main .section3 .section3_inner>li:first-child,
    #main .section3 .section3_inner>li:nth-child(2) {width: 100%; height: 100%}
    
    #main .section3 .section3_inner>li:first-child {margin-bottom: 20px; border-right: 2px solid #000;}
    
    
    #main .section3 .section3_inner>li:nth-child(2) {padding-bottom: 10px;}
    #main .section3 .sec3_alarm .btn_sns {margin: 20px auto;}
    #main .section3 .sec3_alarm .btn_sns:hover {margin: 25px auto  15px;}
    
    
    #main .section3 .sec3_sns h3 {font-size: 28px; word-break: break-word;}
    
    
    #footer .footer_wrap {text-align: center;padding: 30px 20px 40px;}
    
    #footer .top_footer {width: 316px; display: inline-block;}
    
    #footer .top_footer li:nth-child(4) {margin-right: 0;}   #footer .top_footer li:nth-child(3),
    #footer .top_footer li:nth-child(5),
    #footer .top_footer li:nth-child(6) {display: none;}
    #footer .footer_wrap p {text-align: center;}
    #footer .footer_wrap p br {display: block;}
    #footer .footer_wrap p span{display: none;}
    
    
    
    
    
    #footer .footer_wrap .family_wrap select {height: 40px}
    
}



@media screen and (max-width:749px) {
    #main .section2 .bottom_section2 li:first-child {    padding: 10px 11px;}
    #main .section2 .bottom_section2 li {padding: 10px}
    #main .section2 .bottom_section2 li:last-child {padding: 10px 35.5px}
}



@media screen and (max-width:650px) {
    
    
    #main .main_slider.active {height: 450px}
    #main .main_slider img {width: 100%; height: auto; top: -5px;}
    
    
    
    #main .section1 .sec1_common .tit {width: 80%}
    
    #main .section1 .sec1_common img {height: 150px}
    
    

}
@media screen and (max-width:611px) {
    #main .section2 .bottom_section2 li br {display: block;}
    #main .section2 .bottom_section2 li:last-child {padding: 10px}
}

@media screen and (max-width:580px) {
    
    
    #main .section1 .sec1_common .tit {width: 90%; padding-left: 10px}
}




@media screen and (max-width:488px) {
    #header .m_gnb .top_m_gnb .util {right: 2px}
}




@media screen and (max-width:475px) {
    
    #header {padding: 0 10px}

    

    #header .m_gnb .bottom_m_gnb_inner {padding: 20px}
    

    
    
    #header .m_gnb .bottom_m_gnb_inner .depth2_inner>li>a {font-size: 16px; letter-spacing: -0.04em}
    
    #header .m_gnb .bottom_m_gnb_inner .depth2_inner>li>a:hover {color: #000;}
    

    

    #header .m_gnb .bottom_m_gnb_inner .depth3 {margin: 5px 5px 20px 0;}
    #header .m_gnb .bottom_m_gnb_inner .depth3>li>a {letter-spacing: -0.02em;}
    
    #main .main_slider img {width: auto; height: 100%; top: 0;}
    #main .main_slider .main_txt h2 {font-size: 25px}
    
    
    
    #main .section1 .sec1_common .img_opacity {opacity: 0.7;}
    
    #main .main_banner h3:before {margin-right: 20px;}
    #main .main_banner p {margin-right: -90px;}
    
    #main .section2 .bottom_section2 li a {font-size: 21px}
    #main .section2 .bottom_section2 li a:after {content: none;}
    
    
    
    
    #main .section3 .sec3_news .news_wrap {height: 300px}
    
    
    #main .section3 .sec3_sns h3 {font-size: 24px; width: 102%; text-indent: -0.02em}
    #main .section3 .sec3_sns>ul>li:nth-child(2),
    #main .section3 .sec3_sns>ul>li:last-child {width: 100%;}
    
    #main .section3 .sec3_sns>ul>li:nth-child(2) {border-right: none; border-bottom: 2px solid #000;}
    
    
    
    
}














